@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500&family=Readex+Pro:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&family=Readex+Pro:wght@200;300;400;500&display=swap');
*
{
  font-family: 'Cairo', sans-serif;
}
body {
    direction: rtl;
    overflow-x: hidden;
}
.custom-shape-divider-top-1662649051 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1662649051 svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 70px;
}

.custom-shape-divider-top-1662649051 .shape-fill {
    fill: #87c0e0;
}

.containerCSS {
    z-index: 1;
}
.ourworkimg
{
  height: 300px;
  align-items: center;
}
#imptydiv
{
  border: 10px solid #91affa;
  background-color: #91affa;
  width: 50%;
  margin-bottom: 10px;
}
/*about us*/
/* -----------------company----------------------- */

.abuoutUs_Js
{
  opacity: 0;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}
.active
{
  opacity: 1;
  transform: scale(1);
}

.img {
  width: 100%;
}

.img img {
  width: 100%;
  height: 100%px;
  border-radius: 8px;

}
.container .textcardCSS
{
 border: none;
 background-color: transparent;
}
/*serrvice*/
.service_js
{
  opacity: 0;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}
.activserv
{
  opacity: 1;
  transform: scale(1);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
iframe
{
  width: 100%;
  height: 300px;
}
/* .image
{
  display: block;
  width: 50%;
} */
/* .overlay
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all .5s ease;
  background-color: rgba(255, 255, 255, .9);
}
.caption
{
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
} */

/*social media*/
/* -----------------social----------------------- */

/*footer*/

#footer ul {
  margin: 0px;
  padding: 0px;
}
#footer
{
  /* background-image: url(../img/footer.jpg); */
  background-color: #87c0e0;
  position: relative;
}
#footer .footer-section {
  background-color: #87c0e0;
  /* background-image: url(../img/footer.jpg); */
position: relative;
}
#footer .footer-cta {
border-bottom: 1px solid #373636;
}
#footer .single-cta i {
color: #23f582;
font-size: 30px;
float: right;
}
#footer .cta-text {
padding-left: 15px;
display: inline-block;
}
#footer .cta-text h4 {
color: rgb(2, 2, 2);
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
#footer .cta-text span {
color: #757575;
font-size: 15px;
}
#footer .footer-content {
position: relative;
z-index: 2;
}


#footer .copyright-area{
padding: 25px 0;
}
#footer .copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
#footer .copyright-text p a{
color: #147aff;
text-decoration: none;
}
#footer .footer-menu li {
display: inline-block;
margin-left: 20px;
}
#footer .footer-menu li:hover a{
  text-decoration: none;
color: #0078e9;
}
#footer .footer-menu li a {
font-size: 14px;
color: #878787;
text-decoration: none;
}

/*************** pricing table ***************/
.wrapperr{
    max-width: 1090px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin-top: 100px;
  }

  .wrapperr .tablle{
    background: #fff;
    width: calc(40% - 20px);
    /* width: calc(33% - 20px); */
    padding: 30px 30px;
    margin-top: 10px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    margin: 20px;
  }
  .wrapperr .tablle:hover{
    box-shadow: 0 5px 10px rgb(0 0 0 / 48%);
    transform: scale(1.02);
    margin: 20px;
  }

  @media (max-width: 1020px){
    .wrapperr .tablle{
        width: calc(50% - 20px);
        margin-bottom: 40px;
    }
  }

  @media (max-width: 698px){
    .wrapperr .tablle{
        width: 100%;
    }
  }

  .tablle .price-section{
   display: flex;
   justify-content: center;
  }

  .price-section .price-area{
    height: 120px;
    width: 120px;
    background: #ffd861;
    border-radius: 50%;
    padding: 2px;
  }

  .price-section .price-area .inner-area{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
    color: #fff;
    line-height: 117px;
    text-align: center;
    position: relative;
  }

  .price-area .inner-area .textt{
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    top: -10px;
    right: 8px;
  }

  .price-area .inner-area .price{
    font-size: 55px;
    font-weight: 500;
  }

  .tablle .package-name{
    width: 100%;
    height: 2px;
    background: #ffecb3;
    margin: 35px 0;
    position: relative;
  }

  .tablle .package-name::before{
    position: absolute;
    content: "Basic";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    font-size: 25px;
    padding: 0 10px;
    font-weight: bolder;
  }

  .tablle .features li{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .features li .list-name{
    font-size: 17px;
    font-weight: 400;
  }

  .features li .icon{
    font-size: 15px;
  }

  .features li .icon.check{
    color: #2db94d;
  }

  .features li .icon.cross{
    color: #cd3241;
  }

  .tablle .btn{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    border: none;
  }

  .tablle .btn button{
    width: 80%;
    height: 50px;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .basic .price-area,
  .basic .inner-area{
    background: #ffd861;
  }

  .basic .btn button{
    background: #fff;
    color: #ffd861;
    border: 2px solid #ffd861;
  }

  .basic .btn button:hover{
    border-radius: 6px;
    background: #ffd861;
    color: #fff;
  }

  /* .basic .features .btn:hover{
    border: none;
  } */

  .Premium .price-area,
  .Premium .inner-area{
    background: #a26bfa;
  }

  .Premium .btn button{
    background: #fff;
    color: #a26bfa;
    border: 2px solid #a26bfa;
  }

  .Premium .btn button:hover{
    border-radius: 6px;
    background: #a26bfa;
    color: #fff;
  }

  .Ultimate .price-area,
  .Ultimate .inner-area{
    background: #1c6b4a;
  }
  .pro .price-area,
  .pro .inner-area{
    background: #228ed6;
  }

  .Ultimate .btn button{
    background: #fff;
    color: #43ef8b;
    border: 2px solid #43ef8b;
  }
  .pro .btn button{
    background: #fff;
    color: #4388ef;
    border: 2px solid #5b74e4;
  }

  .Ultimate .btn button:hover{
    border-radius: 6px;
    background: #43ef8b;
    color: #fff;
  }
  .pro .btn button:hover{
    border-radius: 6px;
    background: #176faa;
    color: #fff;
  }

  .basic .package-name{
    background: #ffecb3;
  }

  .Premium .package-name{
    background: #a26bfa;
  }

  .Ultimate .package-name{
    background: #43ef8b;
  }
  .pro .package-name{
    background: #1e6fda;
  }

  .basic .package-name::before{
    content: "15 ثانية";
  }

  .Premium .package-name::before{
    content: "30 ثانية";
  }

  .Ultimate .package-name::before{
    content: "45 ثانية";
  }
  .pro .package-name::before{
    content: "60 ثانية";
  }

  .basic ::selection,
  .basic .price-area,
  .basic .inner-area{
    background: #ffd861;
  }

  .Premium ::selection,
  .Premium .price-area,
  .Premium .inner-area{
    background: #a26bfa;
  }

  .Ultimate ::selection,
  .Ultimate .price-area,
  .Ultimate .inner-area{
    background: #43ef8b;
  }
  .Ultimate ::selection,
  .Ultimate .price-area,
  .Ultimate .inner-area{
    background: #43ef8b;
  }

  /*****************slick slider**************/
  .slick-slide {
    margin: 0 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-slide img {
    display: block;
}

.slick-initialized .slick-slide {
    display: block;
}

.copy {
    padding-top: 250px;
}

.direction {
    direction: ltr;
}

.slide img {
    width: 100%;
    height: 170px;
    max-height: 170px;
}

/*<!-- video section -->*/
.videosectioncontsinaer {
    height: 500px;
}

.videosection {
    height: 500px;
}

.videosection iframe {
    width: 100%;
    height: 500px;
}

@media only screen and (max-width: 768px) {
    .videosectioncontsinaer {
        height: 300px;
    }

    .videosection {
        height: 300px;
    }

    .videosection iframe {
        width: 100%;
        height: 300px;
    }
}
